node_modules/
dist/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
# auto generated wildcard
C_HCDEV_01c/cf5/be/.env
# auto generated wildcard
cf6/.env
# auto generated wildcard
cf10/.env
# auto generated wildcard
cf11/.env
# auto generated wildcard
.env
# auto generated wildcard
cf12/.env
# auto generated wildcard
cf13/.env
# auto generated wildcard
cf13/.env
# auto generated wildcard
cf13/.env
# auto generated wildcard
cf15/.env
# auto generated wildcard
cf16/.env