**/node_modules/**
.env*

# auto generated wildcard
cf10/.env
# auto generated wildcard
cf11/.env
# auto generated wildcard
.env
# auto generated wildcard
cf13/.env
# auto generated wildcard
cf13/.env
# auto generated wildcard
cf15/.env